<header>
    <span class="heading">Bike Pump Finder</span>
    <form class="search" action="search.html">
      <input id="search-box" name="search" placeholder="Search.." type="text" />
      <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
</header>