<nav>
    <!--button onclick="getLocation(loadMap);" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find nearest</button-->
     <% if (typeof type == 'undefined') { %>

     <button id="find-on-map" onclick="getLocation(loadMap,null)"
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find on map</button>

     <% } else { %>

    <button id="find-on-map" onclick="getLocation(loadMap, '<%= encodeURIComponent(type) %>')" 
        class="w3-button w3-block w3-blue w3-border w3-border-white">Find on map</button>

     <!--button onclick="location.href='map.html?type=< %= encodeURIComponent(type) % >'" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find on map</button-->

     <% } %>
     
    <button id="find-by-type" onclick="location.href='index.html';" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find by type</button>
     
    <!-- menu for demo purposes -->
    <!--select id="demo-menu">
        <option value="1">one</option>
        <option value="2">two</option>
        <option value="3">three</option>
    </select-->

</nav>